[submodule "3rdparty/ki18n"]
	path = 3rdparty/ki18n
	url = git@invent.kde.org:frameworks/ki18n.git
[submodule "3rdparty/kirigami"]
	path = 3rdparty/kirigami
	url = git@invent.kde.org:frameworks/kirigami.git
[submodule "3rdparty/breeze-icons"]
	path = 3rdparty/breeze-icons
	url = git@invent.kde.org:frameworks/breeze-icons.git
