# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib
.cache*
# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
/3rdparty/*
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
.clang-format
.kdev4/

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*
Makefile

# Build folders
**/build
*.flatpak-builder*
/dist/Snapcraft/*.snap

# Web Assembly Build
**/build_wasm/QPrompt.wasm
**/build_wasm/QPrompt.js
**/build_wasm/qtlogo.svg
**/build_wasm/qtloader.js
**/build_wasm/QPrompt.html

# KDE Plasma and MacOS directory folders
.directory
.DS_Store
