[Desktop Entry]
Name=QPrompt
Comment=Free and open source teleprompter software for professionals
Version=1.0
Exec=qprompt
Icon=applications-development
Type=Application
Terminal=false
Categories=teleprompter;autocue;video;media;word;text;processing;television;tv;stream;live;kinnematic;
