#!/usr/bin/env xdg-open
[Desktop Entry]
Name=QPrompt
GenericName=Teleprompter Software
Comment=Personal teleprompter software for professionals
Version=1.0
Exec=qprompt %u
Icon=com.cuperino.qprompt
Type=Application
Terminal=false
Categories=AudioVideo;Video;Qt;
X-DocPath=documents/guide_en.html
X-DocPath[en]=documents/guide_en.html
MimeType=text/html;
