#!/usr/bin/env xdg-open
[Desktop Entry]
Name=QPrompt
GenericName=Personal Teleprompter Software
Comment=Personal teleprompter software for all video creators
Version=1.0.0
Exec=qprompt %u
Icon=com.cuperino.qprompt
Type=Application
Terminal=false
Categories=AudioVideo;Video;Qt;
X-DocPath=documents/guide_en.html
X-DocPath[en]=documents/guide_en.html
MimeType=text/html;
Keywords=teleprompter;prompter;autocue;qprompt;imaginary;
URL=https://qprompt.app
