[Desktop Entry]
Type=Application
Exec=qprompt %u
MimeType=application/x-your-mime-type;
Icon=images/logo.png
X-DocPath=qprompt/index.html
Terminal=false
Name=QPrompt
GenericName=Teleprompter Software
Comment=Simple and fast teleprompter
Categories=AudioVideo;Video;Qt;