@charset "UTF-8";
@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?1290714');
  src: url('../font/fontello.eot?1290714#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?1290714') format('woff2'),
       url('../font/fontello.woff?1290714') format('woff'),
       url('../font/fontello.ttf?1290714') format('truetype'),
       url('../font/fontello.svg?1290714#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?1290714#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-minus:before { content: '\2d'; } /* '-' */
.icon-undo:before { content: '\21b6'; } /* '↶' */
.icon-exchange:before { content: '\21c4'; } /* '⇄' */
.icon-star-empty:before { content: '\2606'; } /* '☆' */
.icon-ok:before { content: '\2713'; } /* '✓' */
.icon-arrow-curved:before { content: '\2935'; } /* '⤵' */
.icon-down-open-1:before { content: '\e0a4'; } /* '' */
.icon-up-open:before { content: '\e0cb'; } /* '' */
.icon-flag:before { content: '\e0e6'; } /* '' */
.icon-ccw:before { content: '\e74f'; } /* '' */
.icon-arrows-cw:before { content: '\e760'; } /* '' */
.icon-arrow-combo:before { content: '\e7ff'; } /* '' */
.icon-popup:before { content: '\e800'; } /* '' */
.icon-cw:before { content: '\e801'; } /* '' */
.icon-bold:before { content: '\e802'; } /* '' */
.icon-italic:before { content: '\e803'; } /* '' */
.icon-star:before { content: '\e804'; } /* '' */
.icon-font:before { content: '\e805'; } /* '' */
.icon-text-height:before { content: '\e806'; } /* '' */
.icon-text-width:before { content: '\e807'; } /* '' */
.icon-align-left:before { content: '\e808'; } /* '' */
.icon-align-center:before { content: '\e809'; } /* '' */
.icon-align-right:before { content: '\e80a'; } /* '' */
.icon-align-justify:before { content: '\e80b'; } /* '' */
.icon-scissors:before { content: '\e80c'; } /* '' */
.icon-off:before { content: '\e80d'; } /* '' */
.icon-asterisk:before { content: '\e80e'; } /* '' */
.icon-magnet:before { content: '\e80f'; } /* '' */
.icon-adjust:before { content: '\e810'; } /* '' */
.icon-tint:before { content: '\e811'; } /* '' */
.icon-book:before { content: '\e812'; } /* '' */
.icon-floppy:before { content: '\e813'; } /* '' */
.icon-play:before { content: '\e814'; } /* '' */
.icon-stop:before { content: '\e815'; } /* '' */
.icon-pause:before { content: '\e816'; } /* '' */
.icon-to-end:before { content: '\e817'; } /* '' */
.icon-to-end-alt:before { content: '\e818'; } /* '' */
.icon-to-start:before { content: '\e819'; } /* '' */
.icon-to-start-alt:before { content: '\e81a'; } /* '' */
.icon-fast-fw:before { content: '\e81b'; } /* '' */
.icon-fast-bw:before { content: '\e81c'; } /* '' */
.icon-eject:before { content: '\e81d'; } /* '' */
.icon-left-open:before { content: '\e81e'; } /* '' */
.icon-right-open:before { content: '\e81f'; } /* '' */
.icon-left-open-1:before { content: '\e821'; } /* '' */
.icon-right-open-1:before { content: '\e822'; } /* '' */
.icon-brush-1:before { content: '\e823'; } /* '' */
.icon-picture:before { content: '\e837'; } /* '' */
.icon-picture-1:before { content: '\e838'; } /* '' */
.icon-monitor:before { content: '\e839'; } /* '' */
.icon-desktop:before { content: '\e83a'; } /* '' */
.icon-flight:before { content: '\e83b'; } /* '' */
.icon-mail:before { content: '\e83c'; } /* '' */
.icon-doc:before { content: '\e83e'; } /* '' */
.icon-pencil:before { content: '\e83f'; } /* '' */
.icon-logout:before { content: '\e840'; } /* '' */
.icon-asl:before { content: '\e841'; } /* '' */
.icon-bookmark:before { content: '\e843'; } /* '' */
.icon-bookmark-1:before { content: '\e844'; } /* '' */
.icon-bookmark-empty-1:before { content: '\e845'; } /* '' */
.icon-wrench:before { content: '\e846'; } /* '' */
.icon-search:before { content: '\e847'; } /* '' */
.icon-search-1:before { content: '\e848'; } /* '' */
.icon-globe-1:before { content: '\e849'; } /* '' */
.icon-link:before { content: '\e84a'; } /* '' */
.icon-download:before { content: '\e84b'; } /* '' */
.icon-volume-up:before { content: '\e84c'; } /* '' */
.icon-volume:before { content: '\e84d'; } /* '' */
.icon-volume-down:before { content: '\e84e'; } /* '' */
.icon-volume-off:before { content: '\e84f'; } /* '' */
.icon-info-circled:before { content: '\e851'; } /* '' */
.icon-folder-open:before { content: '\e852'; } /* '' */
.icon-lamp:before { content: '\e854'; } /* '' */
.icon-login:before { content: '\e855'; } /* '' */
.icon-logout-1:before { content: '\e856'; } /* '' */
.icon-login-1:before { content: '\e857'; } /* '' */
.icon-stopwatch:before { content: '\e858'; } /* '' */
.icon-print:before { content: '\e859'; } /* '' */
.icon-share:before { content: '\e85a'; } /* '' */
.icon-export:before { content: '\e85b'; } /* '' */
.icon-floppy-1:before { content: '\e85c'; } /* '' */
.icon-down-open:before { content: '\f004'; } /* '' */
.icon-up-open-1:before { content: '\f005'; } /* '' */
.icon-right-open-2:before { content: '\f006'; } /* '' */
.icon-left-open-2:before { content: '\f007'; } /* '' */
.icon-isight:before { content: '\f039'; } /* '' */
.icon-videocam:before { content: '\f03a'; } /* '' */
.icon-fontsize:before { content: '\f088'; } /* '' */
.icon-bookmark-empty:before { content: '\f097'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-list-numbered:before { content: '\f0cb'; } /* '' */
.icon-strike:before { content: '\f0cc'; } /* '' */
.icon-underline:before { content: '\f0cd'; } /* '' */
.icon-table:before { content: '\f0ce'; } /* '' */
.icon-columns:before { content: '\f0db'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-paste:before { content: '\f0ea'; } /* '' */
.icon-circle-empty:before { content: '\f10c'; } /* '' */
.icon-spinner:before { content: '\f110'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-terminal:before { content: '\f120'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-crop:before { content: '\f125'; } /* '' */
.icon-unlink:before { content: '\f127'; } /* '' */
.icon-superscript:before { content: '\f12b'; } /* '' */
.icon-subscript:before { content: '\f12c'; } /* '' */
.icon-mic:before { content: '\f130'; } /* '' */
.icon-mute:before { content: '\f131'; } /* '' */
.icon-ellipsis:before { content: '\f141'; } /* '' */
.icon-ellipsis-vert:before { content: '\f142'; } /* '' */
.icon-language-1:before { content: '\f1ab'; } /* '' */
.icon-circle-notch:before { content: '\f1ce'; } /* '' */
.icon-header:before { content: '\f1dc'; } /* '' */
.icon-paragraph:before { content: '\f1dd'; } /* '' */
.icon-share-1:before { content: '\f1e0'; } /* '' */
.icon-calc:before { content: '\f1ec'; } /* '' */
.icon-eyedropper:before { content: '\f1fb'; } /* '' */
.icon-brush:before { content: '\f1fc'; } /* '' */
.icon-hand-pointer-o:before { content: '\f25a'; } /* '' */
.icon-trademark:before { content: '\f25c'; } /* '' */
.icon-creative-commons:before { content: '\f25e'; } /* '' */
.icon-american-sign-language-interpreting:before { content: '\f2a3'; } /* '' */
.icon-sign-language:before { content: '\f2a7'; } /* '' */
.icon-palette:before { content: '🎨'; } /* '\1f3a8' */
.icon-loop-alt:before { content: '🔁'; } /* '\1f501' */
.icon-loop:before { content: '🔄'; } /* '\1f504' */
