name: "CLA Assistant"
on:
  issue_comment:
    types: [created]
  pull_request_target:
    types: [opened,closed,synchronize]
  push: *
jobs:
  CLAssistant:
    runs-on: ubuntu-latest
    steps:
      - name: "CLA Assistant"
        if: (github.event.comment.body == 'recheck' || github.event.comment.body == 'I have read the CLA Document and I hereby sign the CLA') || github.event_name == 'pull_request_target'
        uses: cla-assistant/github-action@v2.1.3-beta
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # the below token should have repo scope and must be manually added by you in the repository's secret
          PERSONAL_ACCESS_TOKEN : ${{ secrets.CLA_BOT_TOKEN }}
        with:
          remote-organization-name: 'Cuperino'
          remote-repository-name: 'Signatures'
          path-to-signatures: 'cla-v1.json'
          path-to-document: 'https://github.com/Cuperino/Signatures/blob/master/CLA.md'
          branch: 'main'
          allowlist: Cuperino,bot*
